<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; 2018 - <%= date(new Date(), 'YYYY') %> <%= config.title %> - <%= config.author %> 版权所有
            <br>
            Hosted by <a target="_blank" href="https://github.com" style="font-weight: bold" rel="external nofollow noopener noreferrer">Github Pages</a>. Powered by <a href="http://hexo.io/" target="_blank" rel="external nofollow noopener noreferrer">Hexo</a>. Theme by <a target="_blank" href="http://github.com/ppoffice" rel="external nofollow noopener noreferrer">PPOffice</a>
        </div>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <div>本站访问量<span class="busuanzi-value" id="busuanzi_value_site_pv"></span>次 | 本站访客<span class="busuanzi-value" id="busuanzi_value_site_uv"></span>人</div>
    </div>
</footer>
