<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Hosted by <a target="_blank" href="https://pages.coding.me" style="font-weight: bold" rel="external nofollow noopener noreferrer">Coding Pages</a>. Powered by <a href="http://hexo.io/" target="_blank" rel="external nofollow noopener noreferrer">Hexo</a>. Theme by <a target="_blank" href="http://github.com/ppoffice" rel="external nofollow noopener noreferrer">PPOffice</a>
        </div>
        <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <div>本站访问量<span class="busuanzi-value" id="busuanzi_value_site_pv"></span>次 | 本站访客<span class="busuanzi-value" id="busuanzi_value_site_uv"></span>人</div>
    </div>
</footer>