<% if ((!index || !post.excerpt) && config.donate.enable) { %>
    <div class="donate">
        <a id="github" href="https://github.com/weechang" target="_blank" class="pos-f tr3" title="Github"></a>
        <div id="DonateText" class="tr3"><%- config.donate.donate_message %></div>
        <ul id="donateBox" class="list pos-f tr3">
            <% if (config.donate.paypal) { %>
                <li id="PayPal"><a href="<%- config.donate.paypal %>" target="_blank" title="PayPal付款页">PayPal</a>
                </li>
            <% } %>
            <% if (config.donate.alipay) { %>
                <li id="AliPay" data-footnote="点击查看支付宝付款码"><a title="支付宝付款码">AliPay</a></li>
            <% } %>
            <% if (config.donate.wechat) { %>
                <li id="WeChat" data-footnote="点击查看微信付款码"><a title="微信付款码">WeChat</a></li>
            <% } %>
        </ul>
        <div id="QRBox" class="pos-f left-100">
            <div id="MainBox"></div>
        </div>
    </div>

    <script type="application/javascript">
        jQuery(document).ready(function () {
            var QRBox = $('#QRBox');
            var MainBox = $('#MainBox');
            var AliPayQR = '<%- config.donate.alipay %>';
            var WeChanQR = '<%- config.donate.wechat %>';

            function showQR(QR) {
                if (QR) {
                    MainBox.css('background-image', 'url(' + QR + ')');
                }
                $('#DonateText,#donateBox,#github').addClass('blur');
                QRBox.fadeIn(300, function (argument) {
                    MainBox.addClass('showQR');
                });
            }

            $('#donateBox>li').click(function (event) {
                var thisID = $(this).attr('id');
                if (thisID === 'AliPay') {
                    showQR(AliPayQR);
                } else if (thisID === 'WeChat') {
                    showQR(WeChanQR);
                }
            });

            MainBox.click(function (event) {
                MainBox.removeClass('showQR').addClass('hideQR');
                setTimeout(function (a) {
                    QRBox.fadeOut(300, function (argument) {
                        MainBox.removeClass('hideQR');
                    });
                    $('#DonateText,#donateBox,#github').removeClass('blur');
                }, 600);

            });
        });
    </script>
<% } %>
