<%
var pageId = page.path;
var pageUrl = page.permalink;
var pageTitle = page.title;
%>
<% if (theme.gittalk_clientId && page.comments){ %>
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({
        // gitalk的主要参数
        clientID: "<%= theme.gittalk_clientId %>",
        clientSecret: "<%= theme.gittalk_clientSecret %>",
        repo: 'weechang.github.io',
        owner: 'weechang',
        admin: ['weechang'],
        id: '<%= page.title %>',
    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
<% } %>
